* {
  box-sizing: border-box;
}
.confirmRegistation {
  background-color: #fff;
  &__Dark {
    background-color: #313037;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 1120px;
    margin: 0 auto;
    &__Dark {
      background-color: #313037;
    }
  }
}

.titleWrap {
  margin-top: 72px;
  margin-right: auto;
  &__backToHomeText {
    color: black;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: blue;
    }
  }
  &__backToHomeTextDark {
    text-decoration: none;
    color: #fff;
  }
}
.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 152px;
  padding: 40px;
  border: 1px solid #dadada;
  width: 624px;
  display: flex;
  flex-direction: column;
  &__Dark {
    background-color: #313037;
  }
}

.buttonAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__signUpButton {
    margin: 0;
    margin-top: 8px;
    width: 100%;
    text-decoration: none;
  }
  &__text {
    width: 338px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #313037;
    text-align: left;
    margin-right: auto;
    margin-bottom: 48px;
    p {
      margin: 0;
    }
  }
}
