.footer {
  width: 100%;
	background-color: #fff;
  &__Dark {
    background-color: #313037;
  }
}

.footerWrap {
  display: flex;
  justify-content: space-between;
  width: 1120px;
  margin: 0 auto;
  padding: 34px 0;
  border-top: 1px solid #DADADA;
	background-color: #fff;
  &__Dark {
    background-color: #313037;
  }
  &__Watermark {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8d8e97;
  }
  &__textAllRights {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8d8e97;
  }
}
