.post {
  display: flex;
}
.card {
  width: 50%;
  // height: 206px;
  border-bottom: 1px solid #aeaeae;
  margin: 0 auto;
  margin-bottom: 40px;

  &__wrap {
    display: flex;
    &__imgWrap {
      max-width: 150px;
      max-height: 150px;
      margin-right: 32px;
      &__img {
        width: 100%;
        height: 100%;
      }
    }
    &__textWrap {
      &__Date {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8d8e97;
        margin-bottom: 8px;
      }
      &__Title {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #313037;
        &__Dark {
          color: #fff;
        }
        &:hover {
          color: blue;
        }
      }
    }
  }
  &__icons {
    margin-top: 31px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    &__left {
      width: 144px;
      display: flex;
      align-items: center;
      &__like {
        cursor: pointer;
        margin-right: 15px;
      }
      &__disLike {
        margin-top: 5px;
        cursor: pointer;
      }
    }
    &__right {
      display: flex;
      align-items: center;
      &__save {
        margin-right: 23px;
        cursor: pointer;
      }
      &__savee {
        margin-right: 23px;
        cursor: pointer;
      }
      &__menu {
        cursor: pointer;
      }
    }
    &__Dark {
      svg > path {
        fill: #fff;
      }
    }
  }
  &__icons img {
    width: 24px;
    height: 24px;
  }
  &__Dark {
    background-color: #313037;
  }
}
.likeStatusButton {
  display: flex;
  align-items: center;
  width: 55px;
}
.disLikeStatusButton {
  display: flex;
  align-items: center;
  width: 55px;
}
.disLike {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #313037;
  &__Dark {
    color: #fff;
  }
}
.like {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #313037;
  &__Dark {
    color: #fff;
  }
}
.likeStatus {
  margin-left: 8px;
}
.disLikeStatus {
  margin-left: 8px;
}
